*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



/* common class  */

.section{
    padding:1.5rem 0rem;
}

.container{
    width: 95%;
    margin:0 auto;
}

.commongrid{
    grid-template-columns: 500px repeat(3,210px);
    grid-template-rows: repeat(2,250px);
    gap:1rem;
}

.lastcommonlink a:first-of-type:hover{
    display: block;
    color:#387b12;
    text-decoration: underline;
   
}

.lastcommonlink a:nth-of-type(2){
    color:#387b12;
    text-decoration: none;
    margin-right: 1rem;
    display: inline-block;
}

.grid{
    display: grid;
}

.flex{
    display:flex;
}

/* laptop navbar  */

.laptopnav{
    justify-content: space-between;
  
    background-color: black;
}

.laptopcontainer{
    padding:1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin:0 auto;
}
.laptopnavLogo{
    text-decoration: none;
    color:white;
    font-size: 2rem;
}

.laptopnavleftside{
    display:flex;
    align-items: center;
}

.display{
    display: inline-block;
    margin-right: 1.5rem;
}

.signin{
    color:white;
    text-decoration: none;
}

.laptopnavList{
    display: flex;
   
    gap:2rem;

   

}

.laptopnavItem:hover{
    border-bottom:4px solid white;
}

.laptopnavLink{
    text-decoration: none;
    color:white;
    display: inline-block;
    /* padding:1rem 0rem; */
    
}


.laptopsearch{
    background:#202224;
    padding: 1rem 0rem;
    padding-left: 1rem;
    padding-right: 4rem;
}
/* .laptopsearch span{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
   
} */

/* .laptopsearch span i{
    color:white;
} */
.laptopsearch span a{
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:0.5rem;
 
}

.header{
    position: fixed;
    width: 100%;
    z-index: 11;
   
   
}


.mobilenav{
    background-color: rebeccapurple;
}
.mobilecontainer{
    padding:1.5rem 2rem;
}


.mobilenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.mobilenavLogo{
    text-decoration: none;
    color:black;
}


/* need to know section  */

#needtoknow{
    padding-top:8rem;
}

.needtoknowcontainer{
    width: 95%;
    margin: 0 auto;
}

#needtoknowheading p{
    font-size:1.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
  
}
#firstcontent{
    grid-column: 1/2;
  
}
.needtoknowimage img{
    width: 100%;
}

#fivecontent{
    grid-column: 2/3;
    
}

.needtoknowcommontextprop a:first-of-type{
    font-size:1.2rem;
    font-weight: bold;
    display: block;
    color:black;

}

.needtoknowcommontextprop a:first-of-type:hover{
 
    color:#387b12;
    text-decoration: underline;

}

.needtoknowcommontextprop a:nth-of-type(2){
    margin-top:1.5rem;
    color:#f0caca;
    display: block;

}


/* More to explore  */

/* moretoexplorecontent */

.moretoexploreheading h3{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.moretoexplorecontent{
    grid-template-columns: repeat(4,280px);
    grid-template-rows: 150px 150px;
    gap:1.5rem;
}

.moretoexploreimage img{
    width: 100%;

}

.moretoexploretext a{
    font-size:1.2rem;
    font-weight: bolder;
}

.moretoexploretext a:hover{
 color:#387b12;
 text-decoration: underline;
}

.fourthtext a{
    font-size:1.2rem;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 1rem;
}


.fourthtext:hover{
 color: #387b12;
 text-decoration: underline;
}

.moretoexplorelink{
    margin-top:3rem;
    margin-right: 1rem;
    display: inline-block;
}

.moretoexplorelink a:first-of-type{
    color:lightgreen;
    
}

.moretoexplorelink a:first-of-type:hover{
    text-decoration: underline;
    
}

#moretoexplorefivecontent{
    grid-column: 4/5;
}

/* last section  */

.lastcontainer{
    width: 90%;
    margin:0 auto;
}
.lastgrid{

    grid-template-columns: repeat(3,370px);
    gap:1rem;
   
}

.lastimg img{
    width: 100%;
}

.lastcommonlink a:first-of-type{
    display: block;
    color:black;
    text-decoration: none;
    font-size:1.3rem;
}



.lastcommonlink a{
    margin:1rem 0rem;
color:grey;
text-decoration: none;
}

/* find us here section  */

.findushereheading p{
    font-size:1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

/* .findusherecommonprop{

    align-items: center;
} */
.findusherecommonimg{
    width: 25%;
    
}

.findusherecommonimg img{
    width: 100%;
    padding:1rem 1rem;  
    background: transparent;
}

#findfirstimg{
    background: #2aa3ef;
}

#findsecondimg{
    background: #4469b0;
}

#findthirdimg{
    background: #fc0b1b;
}


.logotitle a{
    color: black;
    font-weight: bolder;
    font-size:1.5rem;
}

.logotitle a:hover{
    color:#387b12;
    text-decoration: underline;
}

#findfooterlink a{
    color: black;
    font-weight: bolder;
    font-size:1rem;
    text-decoration: underline;
}

#findfooterlink a:hover{
    color:#387b12;
}


/* footer section  */

.footer{
    background: #4c4c4c;
  }
  
  .footer .footercontainer{
     width: 100%;
      padding:1rem 1rem;
  }
  
  .footercontent{
      display:grid;
      grid-template-columns:repeat(6,max-content);
      /* justify-content: space-between; */
      gap:10rem;
      margin-top:2rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid grey;
  }
  
  .footerheading h3{
      color:#fff;
  }
  
  .footercommonprop{
      position:relative;
  }
  
  /* .footercommonprop::after{
      position:absolute;
      content:'';
      background:grey;
      width: 3px;
      top:19px;
      right:-9rem;
      height:3rem;
  } */
  
  .footerlink{
      display: block;
      color:white;
      text-decoration: none;
      padding-top:0.7rem;
  }
  
  .footerlink:hover{
      text-decoration: underline;
  }
  
  
  /* footer lower part  */
  
  .lowerfooterpart{
     
      /* width: 80%; */
      margin: 1rem 0rem;
  }
  
  
  .footerlowerlink{
      display: inline-block;
      color:white;
      text-decoration: none;
      margin-right: 0.8rem;
      font-size: 0.9rem;
  }
  
  .footerlowerlink:hover{
      text-decoration: underline;
  }
  
  .lowerfooterpart p{
      margin-top:1rem;
      color:#fff;
      font-size:13px;
  }

  @media screen and (max-width:800px){

    .header nav:first-of-type{
       display: none;
   
    }


       
       /* .laptopnav{
           display: none;
       } */
   
       .fa-xmark{
           color:white;
       }
   
       .mobilenavMenu{
           position: fixed;
           top:0;
          right: -100%;
           background-color: black;
           width: 70%;
           height:100%;
           
           padding:5rem 2rem;
          transition: right .8s ease-in;
       }
   
       .mobilenavList{
           text-align: center;
           display: flex;
           flex-direction: column;
           gap:2rem;
       }
   
       .navClose{
           position: absolute;
           top:1rem;
           right:1.5rem;
       }
   
       .mobilenavLink{
        color:white;
       }
       .mobilenavMenu.showMenu{
           right: 0;
       }
   
   
   }
   
   
   @media screen and (min-width:801px){
       .mobilenav{
           display: none;
       }
   
       .navClose{
           display: none;
       }
   
       .navToggle{
           display: none;
       }
   }




@media screen and (max-width:639px){

    .moretoexplorecontent{
        display: flex;
        flex-direction: column;
      
    }

    /* need to know section  */

    #needtoknowheading p{
        font-size:1.5rem;
        margin-bottom: 1rem;
        font-weight: bolder;
        text-align: center;
    }

        .commongrid{
            display: flex;
            flex-direction: column;
            /* gap:2rem; */
            row-gap: 2rem;
    
        }

     /* last section  */
    .lastcontent {
        display: flex;
        flex-direction: column;
    }


    /* find us here section  */

    .findusherecontent{
        display: flex;
        flex-direction: column;
    }

    #findfooterlink{
        flex-direction: column;
        gap:2rem;
    }

    /* footer  */
    .footercontent{
        grid-template-columns: repeat(2,max-content);
        row-gap: 1rem;
        column-gap: 2rem;
        justify-content: center;
    }

}


@media screen and (min-width:640px) and (max-width:767px){

    .moretoexplorecontent{
        grid-template-columns:repeat(3,150px);
        grid-template-rows:repeat(2,300px);
        gap:1rem;
        justify-content: center;
    }

    #moretoexplorefivecontent{
        grid-column: 1/2;
    }

    #moretoexplorefivecontent{
        grid-column: 2/3;
    }
    
    

    /* need to know  */ 
    .commongrid{
        grid-template-columns: repeat(3,210px);
        grid-template-rows: 500px repeat(2,200px);
        justify-content: center;
        align-items: center;
    }
    #firstcontent{
        grid-column: 1/4;
        grid-row: 1/2;
    }

     #secondcontent{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    
    #thirdcontent{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #needtoknowheading p{
        font-size:1.5rem;
        margin-bottom: 1rem;
        font-weight: bolder;
        text-align: center;
    }

    /* last section  */
    .lastcontent{
        display: grid;
        grid-template-columns: repeat(2,270px);
    }

     /* find us here section  */

     .findusherecontent{
        display: flex;
        flex-direction: column;
    }

    #findfooterlink{
        flex-direction: column;
        gap:2rem;
    }

      /* footer  */
      .footercontent{
        grid-template-columns: repeat(3,max-content);
        row-gap: 1rem;
        column-gap: 10rem;
        justify-content: center;
    }

}

@media screen and (min-width:768px) and (max-width:1024px){

    .moretoexplorecontent{
        grid-template-columns:repeat(3,250px);
        grid-template-rows:repeat(2,300px);
        gap:1rem;
        justify-content: center;
    }

    #moretoexplorefourthcontent{
        grid-column:1/2;
        grid-row: 2/3;
    }

#moretoexplorefivecontent{
    grid-column: 3/4;
}
    

       /* need to know  */ 
       .commongrid{
        grid-template-columns: repeat(3,210px);
        grid-template-rows: 500px repeat(2,200px);
        justify-content: center;
        align-items: center;
    }
    #firstcontent{
        grid-column: 1/4;
        grid-row: 1/2;
    }

     #secondcontent{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    
    #thirdcontent{
        grid-column: 2/3;
        grid-row: 3/4;
    }


     /* last section  */
     .lastcontent{
        display: grid;
        grid-template-columns: repeat(2,270px);
    }

        /* footer  */
        .footercontent{
            grid-template-columns: repeat(6,max-content);
            row-gap: 1rem;
            column-gap: 5rem;
        
        }

}